

.tiledBackground {
    margin: 0;
    padding: 0;
    background: url('../img/background.jpg') no-repeat;
    background-size:cover;

}
/* Image banner */
banner {
    border: 1px black solid;
    height: 64px;
    width: 64px;
    background: #444;
    display: table-cell;
    vertical-align: middle;
}
banner img {
    display:block;
    margin: 0px auto;
}
